img{
    width: 100%;
    height: 500px;
}
.card{
    width: 100%;
    height: 100%;
    border: 3px solid cyan;
}
#contact{
    text-align: center;
    background-color: orange;
    height: 250px;
}
#contact a{
    text-decoration: none;
    color: white;
    margin-top: 25px;
 display: list-item;
    font-size: 20px;
}
#contact a:hover{
    background-color: lightblue;
    color: crimson;
}

.card{
    box-shadow: 10px 10px 10px 10px aqua;
}